.idea/

.env
.env.*
!.env.example

# Nix
result
result-*
.direnv/

# Home Manager
.hm-backup/

# Darwin
darwin-configuration/

# Build outputs
*.drv
*.nar

home/work.nix
.DS_STORE